{% extends "global/Base.html" %}
{% load staticfiles otree_tags floppyforms %}
{% load i18n %}

{% block title %}
    Results from Round for Producer
{% endblock %}

{% block content %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/dev/topics/templates/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->




    <table class="table-condensed" style="width:500px; margin-top:20px;">

        <tr><td>Number of Albums Produced:</td><td>{{ player.my_field }}</td></tr>

        <tr><td>Number of Albums Bought:</td><td>{{ numBought }}</td></tr>
        <tr><td>Number of Albums Pirated:</td><td>{{ numPirate }}</td></tr>
        <tr><td>Number of Albums Listened:</td><td>{{ numListen }}</td></tr>
        <tr><td>Other participants contributed:</td><td></td></tr>
        {% for p in player.get_others_in_group %}
            <tr><td></td><td>{{ p.my_field }}</td></tr>
        {% endfor %}

        <tr><td>So in sum you will get:</td><td>{{ player.payoff }}</td></tr>
    </table>

    {% next_button %}
{% endblock %}
