
/*==================================================
 * Dylan's CSS
 * ===============================================*/


.custom-hidden {
    display: none;
}


.redText {
    color: red;
}

.btnAlign {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    display: inline-block;

}

.btnListen{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    display: none;
}

.btnListenSub{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    display: none;
}

.albumValue {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    display: inline-block;
}

.albumContainer{
    display: inline-block;
    border: 2px solid;
    border-radius: 20px;
    padding: 20px;

}

.subalbumContainer{
    display: inline-block;
    padding: 20px;



}

.btnPurchaseSub{
    display: block;


}

.sub22Purchase{
    z-index: 100;
    position: relative;
    margin-left:auto;
    margin-right: auto;
    margin-top: auto;
}

.subCenterButton{



}

.shadedDiv{

    background:black;
    opacity: .6;

}

.subOuterContainer{
    display: inline-block;
    border: 2px solid;
    border-radius: 20px;
    padding: 20px;

}

.album{
    margin-left: auto;
    margin-top: auto;
    display: inline-block;
}

.albumIMG{
    height:160px;
    width:100px;
    position:relative;
}

.albumText{
    z-index:100;
    position:relative;
    color:black;
    font-size:16px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    top: 50px;
}

.imgA{
    position:absolute;
    margin-left:auto;
    margin-right: auto;
}

.totalInfo{

}

.tableInfo{
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
}

.tableTitle{
    text-align: center;
}
/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
  /*display: inline-block; */
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}

.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}